<section class="advantages">
    <div class="container text-center">
      <h2>Заголовок заголовок заголовок</h2>

      <div class="row flex-wrap">
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/trial-frame-icon.svg" alt="иконка пробная оправа">
            </div>

            <div class="advantage-card__text">
                <p>
                    Текст <span class="text-green">Текст текст</span> Текст текст Текст
                </p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/contact-lens-icon.svg" alt="иконка контактные линзы">
            </div>

            <div class="advantage-card__text">
                <p>
                    Текст Текст Текст Текст Текст <br> Текст Текст  <br> Текст Текст Текст
                </p>
             
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/vision_eye-icon.svg" alt="иконка зрение">
            </div>

            <div class="advantage-card__text d-flex align-items-center justify-content-center">
                <p>
                    Текст Текст Текст <br>Текст
                </p>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/man-glasses-icon.svg" alt="иконка человек в очках">
            </div>

            <div class="advantage-card__text">
                <p>
                    Текст Текст Текст Текст
                    <br> Текст Текст
                    <br> Текст Текст
                </p>
             
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/glasses-icon.svg" alt="иконка очки">
            </div>

            <div class="advantage-card__text">
                <p>
                    <span class="text-green">Текст Текст Текст</span> ,
                    <br> Текст Текст Текст Текст
                    <br> Текст Текст
                </p>
              
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6">
          <div class="advantage-card">
            <div class="advantage-card__icon">
              <img src="images/advantages/doctor-icon.svg" alt="иконка офтальмолог">
            </div>

            <div class="advantage-card__text">
                <p>
                    Текст  
                    <br>Текст  Текст  Текст
                    <br>Текст  Текст
                </p>
              
            </div>
          </div>
        </div>

      </div>

      <button class=" btn btn_green" data-bs-toggle="modal" data-bs-target="#feedbackModal">
        <div class="btn__text">
            Записаться на проверку
        </div>
        
        <div class="btn__arrow">
          <img src="images/buttons/arrow-right.svg" alt="стрелка вправо">
        </div>
      </button>

    </div>
  </section>