<footer class="footer">

    <div class="footer-top">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-flex justify-content-between">
                    <div class="footer-top__title">
                        Текст текст текст текст текст <br> текст текст
                    </div>
    
                    <div class="footer__form">
                        <input type="email" id="emailInput" placeholder="Введите свой e-mail">
                        <button class="btn btn_green" id="send-email">Подписаться</button>
                    </div>
                    
                </div>
                
                <div class="socials col-lg-4">
                    <div class="socials__title">
                        МЫ В СОЦ. СЕТЯХ:
                    </div>
                    <div class="socials__btns">
                        <a class="socials__btn" href="#" target="_blank">
                            <img src="images/socials/vk.svg" alt="иконка вконтакте">
                        </a>
                        <a class="socials__btn" href="#" target="_blank">
                            <img src="images/socials/facebook.svg" alt="иконка фейсбук">
                        </a>
                        <a class="socials__btn" href="#" target="_blank">
                            <img src="images/socials/instagram.svg" alt="иконка инстаграм">
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="footer-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 footer-body__left mb-md-32 mb-sm-32">
                    <a href="#" class="footer__logo">
                        <img src="images/footer/footer-logo.png" width="100%" alt="логотип компании">
                    </a>

                    <ul class="footer__contacts mb-20">
                        <li>
                            <img src="images/footer/phone-icon.svg" alt="иконка телефон">
                            <a href="tel:+7 (800) 111-111-1">+7 (800) 111-111-1</a>
                        </li>
                        <li>
                            <img src="images/footer/email-icon.svg" alt="иконка e-mail">
                            <a href="mailto:info@vimeo.ru">info@vimeo.ru</a>
                        </li>
                        <li>
                            <img src="images/footer/questions-icon.svg" alt="иконка вопрос">
                            <a class="underline">Задать вопрос</a>
                        </li>
                        <li class="mb-20">
                            <img src="images/footer/feedback-icon.svg" alt="иконка обратной связи">
                            <a class="underline">Оставить отзыв</a>
                        </li>
                    </ul>

                    <p class="text-grey">
                        текст текст текст текст текст текст текст текст текст текст текст текст текст 
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6 pl-24 pl-md-8">
                    <h4>Заголовок</h4>
                    <nav class="footer__nav">
                        <ul>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Названиеназвание</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h4>Заголовок</h4>
                    <nav class="footer__nav">
                        <ul>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <h4>Заголовок Заголовок</h4>
                    <nav class="footer__nav">
                        <ul>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <h4>Заголовок Заголовок</h4>
                    <nav class="footer__nav">
                        <ul>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                            <li>
                                <a href="">Название</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <a href="">Политика конфиденциальности</a>
            <div>
                © Все права защищены авторским правом
            </div>
        </div>
    </div>
    

</footer>
