<section class="hero">
    <div class="container">
      <div class="row">
        <div class="hero__left col-lg-8 col-md-7">
          <div class="breadcrumbs">
            <a class="breadcrumbs__item">
              <img src="images/breadcrumbs/breadcrumbs-home.svg" alt="иконка домашней страницы">
            </a>
      
            <div class="breadcrumbs__splitter">
              <img src="images/breadcrumbs/breadcrumbs-splitter.svg" alt="разделитель">
            </div>
      
            <a class="breadcrumbs__item">
              Текст текст
            </a>
          </div>
      
          <h1 class="hero__title">
            Заголовок <span class="text-green">текст текст</span> текст текст текст текст
          </h1>
      
          <div class="hero__text">
            <p class="text-grey">
              текст текст, текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
            </p>
            <p>
              Текст – текст текст текст  текст  текст , текст  текст  текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
            </p>
          </div>

          <button class="btn" data-bs-toggle="modal" data-bs-target="#feedbackModal">Записаться на проверку</button>
        </div>

        <div class="col">
          <img src="images/hero/hero-img.jpg" class="cover image-open" width="100%" alt="фото врач-офтальмолог" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
      </div>
    </div>
    
  </section>