<section class="list">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2> Текст текст:</h2>

          <ul>
            <li>текст текст</li>
            <li>текст текст текст текст</li>
            <li>текст</li>
            <li>текст текст текст текст текст текст текст текст текст текст текст текст</li>
            <li>текст текст текст текст текст текст текст текст текст текст</li>
            <li>текст текст текст текст текст текст текст текст текст текст текст текст текст текст</li>
          </ul>
        </div>
        <div class="col ml-32 ml-md-0">
          <img src="images/list/list-img.jpg" class="cover image-open" width="100%" alt="изображение проверка зрения" data-bs-toggle="modal" data-bs-target="#imageModal">
        </div>
      </div>
    </div>
  </section>
