<div class="modal modal-feedback" id="feedbackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Проверим зрение?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Пожалуйста, заполните форму ниже, и мы свяжемся с Вами в течение 15 минут</p>
            
          <form class="pt-24">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Ваш email*</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Номер телефона</label>
              <input type="tel" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Я хочу получать информацию о новостях и акциях компании</label>
            </div>
            <button type="submit" class="btn">Отправить форму</button>
          </form>
        
        </div>
      </div>
    </div>
</div>


<div class="modal image-modal" id="imageModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <img id="modal-image" src="images/work/work-img-3.jpeg" alt="изображение">
      </div>
    </div>
</div>