<section class="questions">
    <div class="container">
        <div class="row questions__wrapper">
          <div class="col-lg-8 questions__left">
            <h2>Вопрос вопрос вопрос вопрос вопрос вопрос вопрос?</h2>

            <ol>
              <li>Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст</li>
              <li>Текст Текст Текст Текст Текст Текст Текст</li>
              <li>Текст Текст Текст Текст Текст Текст Текст Текст</li>
              <li>Текст Текст Текст Текст Текст Текст Текст Текст Текст</li>
              <li>Текст Текст Текст Текст Текст Текст</li>
            </ol>

            <p>
              Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст .
            </p>
          </div>

          <div class="col">
            <img class="cover image-open"  data-bs-toggle="modal" data-bs-target="#imageModal" src="images/question/question-img.jpg" width="100%" alt="фото проверка зрения">
          </div>
        </div>

        <button class=" btn btn_green" data-bs-toggle="modal" data-bs-target="#feedbackModal">
            <div class="btn__text">
                Записаться на проверку
            </div>
          
            <div class="btn__arrow">
                <img src="images/buttons/arrow-right.svg" alt="стрелка вправо">
            </div>
        </button>

    </div>
  </section>