<section class="work">
    <div class="container">
      <h2>Заголовок</h2>

      <div class="works-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="work-card">
                  <div class="work-card__top">
                      <svg class="circle" width="265" height="265">
                          <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                              <animateTransform
                              attributeName="transform"
                              type="rotate"
                              from="0 132.5 132.5"
                              to="360 132.5 132.5"
                              dur="15"
                              repeatCount="indefinite"></animateTransform>
                          </circle>
                      </svg>
                      <div class="work-card__image">
                          <img src="images/work/work-img-1.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" class="image-open"  data-bs-toggle="modal" data-bs-target="#imageModal">
                          <div class="swiper-lazy-preloader"></div>
                          <div class="green-border"></div>
                      </div>
                  </div>
      
                  <div class="work-card__bottom">
                    <div class="work-card__title mb-32">
                      Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                      Текст Текст Текст Текст Текст Текст
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="swiper-slide">
                <div class="work-card">
                    <div class="work-card__top">
                        <svg class="circle" width="265" height="265">
                            <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                                <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 132.5 132.5"
                                to="360 132.5 132.5"
                                dur="15"
                                repeatCount="indefinite"></animateTransform>
                            </circle>
                        </svg>
                        <div class="work-card__image">
                            <img src="images/work/work-img-2.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" class="image-open"  data-bs-toggle="modal" data-bs-target="#imageModal">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="green-border"></div>
                        </div>
                    </div>
        
                    <div class="work-card__bottom">
                    <div class="work-card__title">
                        Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                        Текст Текст Текст Текст Текст Текст
                    </div>
                    </div>
                </div>
            </div>
    
            <div class="swiper-slide">
                <div class="work-card">
                    <div class="work-card__top">
                        <svg class="circle" width="265" height="265">
                            <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                                <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 132.5 132.5"
                                to="360 132.5 132.5"
                                dur="15"
                                repeatCount="indefinite"></animateTransform>
                            </circle>
                        </svg>
                        <div class="work-card__image">
                            <img class="tall image-open" src="images/work/work-img-3.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" data-bs-toggle="modal" data-bs-target="#imageModal">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="green-border"></div>
                        </div>
                    </div>
        
                    <div class="work-card__bottom">
                    <div class="work-card__title">
                        Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст*
                    </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="work-card">
                  <div class="work-card__top">
                      <svg class="circle" width="265" height="265">
                          <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                              <animateTransform
                              attributeName="transform"
                              type="rotate"
                              from="0 132.5 132.5"
                              to="360 132.5 132.5"
                              dur="15"
                              repeatCount="indefinite"></animateTransform>
                          </circle>
                      </svg>
                      <div class="work-card__image">
                          <img src="images/work/work-img-1.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" class="image-open"  data-bs-toggle="modal" data-bs-target="#imageModal">
                          <div class="swiper-lazy-preloader"></div>
                          <div class="green-border"></div>
                      </div>
                  </div>
      
                  <div class="work-card__bottom">
                    <div class="work-card__title mb-32">
                      Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                      Текст Текст Текст Текст Текст Текст
                    </div>
                  </div>
                </div>
            </div>
    
            <div class="swiper-slide">
                <div class="work-card">
                    <div class="work-card__top">
                        <svg class="circle" width="265" height="265">
                            <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                                <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 132.5 132.5"
                                to="360 132.5 132.5"
                                dur="15"
                                repeatCount="indefinite"></animateTransform>
                            </circle>
                        </svg>
                        <div class="work-card__image">
                            <img src="images/work/work-img-2.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" class="image-open"  data-bs-toggle="modal" data-bs-target="#imageModal">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="green-border"></div>
                        </div>
                    </div>
        
                    <div class="work-card__bottom">
                    <div class="work-card__title">
                        Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                        Текст Текст Текст Текст Текст Текст
                    </div>
                    </div>
                </div>
            </div>
    
            <div class="swiper-slide">
                <div class="work-card">
                    <div class="work-card__top">
                        <svg class="circle" width="265" height="265">
                            <circle cx="132.5" cy="132.5" r="112.5" fill="transparent" stroke="black" stroke-width="40">  
                                <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 132.5 132.5"
                                to="360 132.5 132.5"
                                dur="15"
                                repeatCount="indefinite"></animateTransform>
                            </circle>
                        </svg>
                        <div class="work-card__image">
                            <img class="tall image-open" src="images/work/work-img-3.jpeg" loading="lazy" width="100%" alt="фото офтальмолога" data-bs-toggle="modal" data-bs-target="#imageModal">
                            <div class="swiper-lazy-preloader"></div>
                            <div class="green-border"></div>
                        </div>
                    </div>
        
                    <div class="work-card__bottom">
                    <div class="work-card__title">
                        Вопрос вопрос вопрос?
                    </div>
                    
                    <div class="work-card__text">
                        Текст Текст Текст Текст Текст Текст Текст Текст Текст Текст*
                    </div>
                    </div>
                </div>
            </div>
        </div>
        

      </div>

      <p class="text-grey mt-20">
        *текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст.
      </p>
    </div>
  </section>